{{/*

markdown render hook for images, with auto-resizing disabled v2021-04-26
further simplified v2021-06-25
auto-resizing re-installed v2021-09-21

*/}}


{{ $src := .Page.Resources.GetMatch .Destination }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}

<p>
	<figure class="figure"
          {{with $alt }}
          {{ $desc := anchorize . }}
          {{ $words := split $desc "-" }}
          id="{{index $words 0 }}-figure"
          {{ end }}>
		<a href="{{ $src.RelPermalink }}">
			<img
          src="{{ $src.RelPermalink }}"
					alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
					loading="lazy"
				/>
		</a>
		{{ with $caption }}
			<figcaption>{{ . | markdownify | humanize }}</figcaption>
		{{ end }}
	</figure>
</p>
